.AsesoriaContableInfo-container {
    color: rgb(105, 105, 105);
    margin-top: 100px;

    div {
        .imagen {
            text-align: center;

            img {
                width: 50vh;
                height: 50vh;
                object-fit: cover;
                border-radius: 100%;
                padding: 20px;

                @media(max-width: 800px) {
                    width: 40vh;
                    height: 40vh;
                }
            }




        }

        .texto {
            align-items: center;


            h3 {
                font-weight: bold;
                color: $dark-blue;
                text-align: center;
            }
        }
    }

}