.AsesoriaAdministrativaInfo-container {
    margin-bottom: 100px;
    color: rgb(105, 105, 105);

    div {
        align-items: center;
        margin-top: 50px;

        h2 {
            font-weight: bold;
            color: $dark-blue;
            text-align: center;
        }
    }

    .imagen {
        padding: 20px;

        img {
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
    }

}