.AsesoriaAdministrativaWelcome-container {
    background-image: url("../../../../image/pexels-karolina-grabowska-7681092.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    padding-top: 10%;

    &::before {
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.623);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    div {
        color: #fff;
        position: relative;
        max-width: 600px;
        text-align: center;


        h3 {
            font-weight: bold;
            font-size: 50px;
            margin-bottom: 20px;

            @media (max-width: 800px) {
                font-size: 30px;
            }
        }

        p {
            font-size: 15px;
        }

        button {
            border: none;
            background: $Moderatecyan;
            border-radius: 15px;
            color: #fff;
            padding: 10px 15px;

        }
    }
}