.contacto-container {
    height: 80vh;
    background-repeat: no-repeat;
    background-image: url("../../../image/pexels-pixabay-326576.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding-top: 60px;
    color: hsl(0, 0%, 100%);


    &::before {
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.684);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .contacto-container-2 {
        padding: 50px;
        position: relative;
        display: flex;
        flex-direction: column;

        @media (max-width: 990px) {

            display: none;
        }


        div {
            margin-top: 20%;
            align-items: center;
            max-width: 700px;

            h2 {
                font-weight: bold;
                text-align: center;
            }
        }


    }

    .contacto-container-3 {
        padding: 50px;
        font-weight: 600;
        position: relative;
        max-width: 700px;
        margin: auto;

        h1 {
            text-align: center;

        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {

                span {
                    color: hsl(0, 85%, 47%);
                    font-weight: bold;
                }
            }

            input,
            textarea,
            select {
                border-radius: 5px;
                border: none;
                display: block;
                width: 100%;
                outline: none;
                padding: 5px;
                transition: .2s;
                margin-top: 2px;
                font-weight: 700;
                color: hwb(0 0% 100%);
                background-color: rgba(255, 255, 255, 0.774);

                &:hover {
                    background-color: #fff;
                }
            }

            p {
                margin-top: 3px;
                color: hwb(0 26% 0%);
                font-size: 15px;
                display: inline;
                font-weight: 100;
            }

            button {
                padding: 7px;
                margin: 10px auto;
                width: 50%;
                border-radius: 15px;
                border: none;
                color: #fff;
                background: $Moderatecyan;
            }
        }

        .redes {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;

            a {
                color: rgb(255, 255, 255);
                text-decoration: none;


                img {
                    color: #fff;
                }

                span {
                    font-weight: bold;
                }
            }
        }
    }
}