.contactanos-container {
    height: 60vh;
    background-repeat: no-repeat;
    background-image: url("../../../image/pexels-pixabay-326576.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding-top: 60px;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.684);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .texto {
        position: relative;
        text-align: center;

        h1 {
            font-weight: bold;
            text-align: center;
        }

        button {
            border: none;
            background: $Moderatecyan;
            border-radius: 20px;
            color: #fff;
            padding: 10px 50px;
            margin-top: 20px;

        }
    }


}