.equipo-container {
    text-align: center;
    margin: 100px 0 100px;

    div {
        h1 {

            margin: 50px;
            font-weight: bold;
            font-size: 30px;

            @media(max-width: 400px) {
                font-size: 25px;
            }
        }
    }


    div {
        color: rgb(0, 0, 0);
        justify-content: space-around;


        div {

            max-width: 600px;

            img {
                width: 250px;
                height: 250px;
                border-radius: 100%;
                object-fit: cover;

                @media(max-width: 400px) {
                    width: 200px;
                    height: 200px;
                }

            }

            h5 {
                margin-top: 20px;
                font-weight: bold;
            }
        }

    }

}