.sede-container {
    margin-top: 100px;
    text-align: center;


    div {
        align-items: center;

        h4 {
            font-weight: bold;
        }
    }

    img {
        width: 45vh;
        height: 45vh;
        object-fit: cover;
        border-radius: 100%;
        padding: 20px;

        @media(max-width: 800px) {
            width: 40vh;
            height: 40vh;
        }

        @media(max-width: 400px) {
            width: 30vh;
            height: 30vh;
        }
    }

    button {
        border: none;
        background: $Moderatecyan;
        border-radius: 15px;
        color: #fff;
        padding: 10px 20px;
    }

}