.servicios-container {
    text-align: center;
    margin-top: 100px;


    img {
        width: 80px;
        margin: 15px;
    }

    .texto {
        margin: 50px 0;

        h2 {
            font-weight: bold;
            font-size: 34px;

            @media(max-width: 400px) {
                font-size: 25px;
            }
        }
    }

    div:last-child {
        padding: 20px;

        div {
            padding: 20px;
            border-bottom: none;

            h3 {
                font-weight: bold;
            }

            button {
                border: none;
                background-color: $Moderatecyan;
                border-radius: 15px;
                color: #fff;
                padding: 8px 16px;
                font-size: 13px;


            }
        }
    }
}