.asesoria-welcome-container {
    background-image: url("../../../../image/pexels-mikhail-nilov-8297478.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    position: relative;
    align-items: center;
    padding: 30px 15px 15px;

    @media(max-height: 650px) {
        height: 650px;
    }


    &::before {
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.782);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    div {
        color: #fff;
        text-align: center;
        position: relative;
        max-width: 700px;
        margin: auto;
        font-weight: 500;

        h2 {
            font-size: 40px;
            font-weight: bold;

            @media(max-width: 800px) {
                font-size: 30px;
            }
        }
    }
}