.outsourcing-text2-container {
    margin-top: 100px;

    div {
        div:first-child {
            h2 {
                font-weight: bold;
                color: $dark-blue;
            }

            ul {
                font-weight: 500;
            }
        }

        div:last-child {
            text-align: center;

            img {
                width: 500px;
                height: 500px;
                object-fit: cover;
                border-radius: 100%;
                padding: 20px;

                @media(max-width: 1200px) {
                    width: 400px;
                    height: 400px;
                    margin-bottom: 50px;
                }

                @media(max-width: 800px) {
                    width: 350px;
                    height: 350px;
                }

                @media(max-width: 400px) {
                    width: 225px;
                    height: 225px;
                }
            }
        }

    }


}