.info-container {
    margin-top: 100px;

    span {
        font-weight: bold;

        @media(max-width: 400px) {
            font-size: 12px;
        }
    }

    .texto {
        align-items: center;
        text-align: center;

        p {
            text-align: start;

            @media(max-width: 400px) {
                font-size: 12px;
            }
        }

        img {
            width: 500px;
            height: 500px;
            object-fit: cover;
            border-radius: 100%;
            padding: 20px;

            @media(max-width: 1200px) {
                width: 400px;
                height: 400px;
                margin-bottom: 50px;
            }

            @media(max-width: 800px) {
                width: 350px;
                height: 350px;
            }

            @media(max-width: 400px) {
                width: 225px;
                height: 225px;
            }
        }

    }


    .items {
        justify-content: space-between;
        text-align: center;
        color: hsl(0, 0%, 27%);
        margin-top: 50px;


        div {
            padding: 20px;

            img {
                width: 90px;
                margin: 16px;
                border: 2px solid black;
                padding: 20px;
                border-radius: 100%;


            }

            h3 {
                color: $dark-blue;
                font-weight: bold;

                @media(max-width: 400px) {
                    font-size: 18px;
                }
            }

            p {
                margin: 0;

                @media(max-width: 400px) {
                    font-size: 12px;
                }

            }
        }
    }


}