.info-container {
    margin-top: 100px;

    span {
        font-weight: bold;
    }

    .texto {
        align-items: center;
        text-align: center;

        p {
            text-align: start;
        }

        img {
            width: 50vh;
            height: 50vh;
            object-fit: cover;
            border-radius: 100%;
            padding: 20px;

            @media(max-width: 800px) {
                width: 40vh;
                height: 40vh;
            }
        }

    }


    .items {
        justify-content: space-between;
        text-align: center;
        color: hsl(0, 0%, 27%);
        margin-top: 50px;


        div {
            padding: 20px;

            img {
                width: 90px;
                margin: 16px;
                border: 2px solid black;
                padding: 20px;
                border-radius: 100%;

            }

            h3 {
                color: $dark-blue;
                font-weight: bold;
            }

            p {
                margin: 0;

            }
        }
    }


}