.EmpresaInfo-container {
    padding: 50px;

    p {
        text-align: left;
    }

    div:first-child {
        align-items: center;
        text-align: center;

        img {
            justify-content: center;
            width: 50vh;
            height: 50vh;
            object-fit: cover;
            border-radius: 100%;
            padding: 20px;

            @media (max-width:800px) {
                width: 40vh;
                height: 40vh;
            }

            @media (max-width:400px) {
                width: 30vh;
                height: 30vh;
            }

        }
    }



}