.EmpresaWelcome-container {
    background-image: url("../../../image/pexels-karolina-grabowska-7681097.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    padding: 50px 10px;
    background-attachment: fixed;
    align-items: center;
    position: relative;
    font-weight: 600;

    &::before {
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.744);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    div {
        color: #fff;
        position: relative;
        max-width: 700px;

        @media (min-width:1000px) {
            margin-left: 10%;
        }

        h3 {
            font-weight: bold;
            font-size: 50px;
            margin-bottom: 20px;

            @media (max-width:800px) {
                font-size: 30px;
            }
        }

        p {
            font-size: 15px;
        }

        button {
            border: none;
            background: $Moderatecyan;
            border-radius: 15px;
            color: #fff;
            padding: 8px 10px;


        }
    }
}