.EmpresaInfo-container {
    padding: 50px;

    p {
        text-align: left;
    }

    div:first-child {
        align-items: center;
        text-align: center;

        img {
            width: 500px;
            height: 500px;
            object-fit: cover;
            border-radius: 100%;
            padding: 20px;

            @media(max-width: 1200px) {
                width: 400px;
                height: 400px;
                margin-bottom: 50px;
            }

            @media(max-width: 800px) {
                width: 350px;
                height: 350px;
            }

            @media(max-width: 400px) {
                width: 225px;
                height: 225px;
            }

        }
    }



}